 body{
background-color: rgb(39, 131, 100);
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
 }

 button{ 
    background-color: rgb(88, 211, 105);
    color: rgb(63, 9, 9);
    font-family: "Bai Jamjuree", sans-serif;
 }